@model string;
<div class="d-flex position-absolute text-white  float-end" style="position: fixed; left:55px; top:53px;">
	<a asp-controller="@Model" asp-action="Create" class="btn btn-outline-success rounded-pill border-0" style="background:none">
		<i class="bi bi-plus-circle" data-toggle="pill" data-placement="Top" title="Add New @Model"> Add New</i>
	</a>
</div>