<div class="row col-lg-4 col-md-4 col-sm-4 offset-8 mx-auto">
    <br/>
    <div class="row align-middle">
        <img src="~/img/travolta.gif" class="border-info pb-3" style="max-width:400px;max-height:400px;" />
        <h6 class="pb-3" style="font-palette:light">Lost? Maybe you should look for something else...</h6>
        <a class="btn btn-danger btn-md" style="max-width:700px" asp-action="Index">Back</a>
    </div>
</div>

